<footer class="text-muted py-2">
  <div class="container">
    <div class="row">
      <h2 class="text-white">Como chegar</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7317.14671270287!2d-47.494593!3d-23.511872!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1a5a4482a917c0b!2sYeshua%20barber%20shop%20e%20sal%C3%A3o%20de%20beleza!5e0!3m2!1spt-BR!2sbr!4v1636944834098!5m2!1spt-BR!2sbr" width="1000" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      <p class="mb-0 col">Projeto Integrador desenvolvido como trabalho acadêmico. Eixo de Computação - Univesp - 2022</p>
    </div>
  </div>
  <p class="float-end mb-1 link-warning">
    <a href="#" class="link-warning">Voltar ao topo</a>
  </p>
</footer>