{% extends 'barbershop/global/base.html' %}

{% load static %}

{% block title %}Agendamento | {% endblock title %}

{% block content %}
<!--  <div class="container-fluid p-3 mb-2 text-white">-->
<div class="py-5">
 <div class="container px-4 py-5 border-bottom border-warning">
     <div>
         <div class="pb-2 text-white">
             <h2>Solicitação enviada</h2>
             <p class="text-warning">Que bom, <span class="text-capitalize fw-bold">{{ dados.nome_cliente }}</span>! Quando validarmos sua solicitacão, notificaremos você por SMS.</p>
             <p>Serviço: {{ dados.nome_servico }}</p>
             <p>Data: {{ dados.data }}</p>
             <p>Hora: {{dados.hora_agendada }}</p>
             <p>Telefone: {{ dados.celular_cliente }}</p>
             <a href="{% url 'barbershop:home' %}" class="btn btn-warning">Início</a>
         </div>
     </div>

 </div>
</div>
{% include 'barbershop/partials/footer.html' %}


<script>$("#datepicker").datepicker();</script>
{% endblock content %}
