{% extends 'barbershop/global/base.html' %}

{% load static %}

{% block title %}Home | {% endblock title %}

{% block content %}
  <div class="container-fluid p-3 mb-2 text-white bg-img">
    <main>
      <section class="py-5 text-center container">
        <div class=" py-lg-5">
          <img src="{% static 'barbershop/img/logo-centro.png' %}" class="img-fluid" alt="Logo da barbearia">
        </div>
      </section>

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class=" mx-auto mb-4 bi bi-scissors text-warning" width="72"
            height="57" viewBox="0 0 16 16">
            <path
              d="M3.5 3.5c-.614-.884-.074-1.962.858-2.5L8 7.226 11.642 1c.932.538 1.472 1.616.858 2.5L8.81 8.61l1.556 2.661a2.5 2.5 0 1 1-.794.637L8 9.73l-1.572 2.177a2.5 2.5 0 1 1-.794-.637L7.19 8.61 3.5 3.5zm2.5 10a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0zm7 0a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z" />
          </svg>
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Yeshua Barber Shop e Salão de Beleza</h1>
            <p class="lead text-muted">A Yeshua barber shop e salão de beleza conta com profissionais  qualificados na área da estética da beleza masculina e feminina, atuamos na cidade de Sorocaba desde o ano de 2019 trazendo mais beleza para sua vida.</p>
          </div>
        </div>
      </section>
      <section>
        <div class="container px-4 py-5 border-bottom border-warning" id="custom-cards">
          <h2 class="pb-2 border-bottom border-warning"}>Nosso espaço</h2>

          <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
              <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('{% static 'barbershop/img/frente-estabelecimento.jpeg' %}'); background-size: cover; ">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                  <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
                  <ul class="d-flex list-unstyled mt-auto">
                    <li class="d-flex align-items-center me-3">
                      <small></small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('{% static 'barbershop/img/espaco-ele.png' %}'); background-size: cover;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                  <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"> </h2>
                  <ul class="d-flex list-unstyled mt-auto">
                    <li class="d-flex align-items-center me-3">
                      <small></small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('{% static 'barbershop/img/espaco-ela.png' %}');background-size: cover; ">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                  <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"> </h2>
                  <ul class="d-flex list-unstyled mt-auto">
                    <li class="d-flex align-items-center me-3">
                      <small></small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
    </main>

    {% include 'barbershop/partials/footer.html' %}

  </div>

  <script>$("#datepicker").datepicker();</script>
{% endblock content %}
