{% extends 'barbershop/global/base.html' %}

{% load static %}

{% block title %}Agendamento | {% endblock title %}

{% block content %}

<div class="py-5">

 <div class="container px-4 py-5 border-bottom border-warning">
     <h5 class="text-white pb-3">Consultar agenda</h5>
     <form action="{% url 'barbershop:consulta_agenda' %}" method="POST" name="form1">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-4">
                 <label for="data_agendamento" class="form-label text-white">Data</label>
                 <input type="date" id="data_agendamento" name="data_agendamento" class="form-control"
                        value="{{ data_selecionada }}"
                        min="2022-01-01"
                        max="2050-12-31"
                        aria-label="Data desejada" required>
             </div>
            <div class="col">
                <label for="nome_servico" class="form-label text-white">Serviço</label>
                <select  id="nome_servico" name="servico" class="form-select" required>
                    {% if servico_selecionado is None %}
                        <option selected hidden>- Selecione -</option>
                    {% endif %}
                    {% for servico in lista_servicos %}
                        <option value="{{ servico.id }}" {% if servico.id == servico_selecionado.id %} selected="true" {% endif %}>
                            {{ servico.nome }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="submit" value="Consultar" class="btn btn-warning"/>
    </form>
    {% if erros is not None %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div class="mt-3">
         {% for erro in erros %}
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>{{ erro }}</div>
            </div>
         {% endfor %}
        </div>
     {% endif %}
 </div>
</div>

<!-- resultado da consulta -->

{% if horarios is not None %}
 <div class="container px-4 py-1 border-bottom border-warning">
    <h5 class="text-white pb-3">{{ servico_selecionado.nome }} [ {{ data_selecionada }} ]</h5>
    <form action="{% url 'barbershop:pre_agendamento' %}" method="POST" name="form1" class="mb-5">
        {% csrf_token %}
        <div class="row mb-3">
        <div class="col-4 ">
            <label for="horario_agenda" class="form-label text-white">Horários</label>
            <select  id="horario_agenda" name="horario_selecionado" class="form-select" required>
                <option selected hidden>- Selecione -</option>
                {% for horario in horarios %}
                    <option value="{{ horario.horario|time:"H\:i" }}" {% if not horario.disponivel %} disabled {% endif %}>
                        {{ horario.horario|time:"H\:i" }}
                    </option>
                {% endfor %}
            </select>
        </div>
        </div>
        <input type="submit" value="Selecionar" class="btn btn-warning"/>
    </form>
 </div>
{% endif %}

{% include 'barbershop/partials/footer.html' %}

<script>$("#datepicker").datepicker();</script>
{% endblock content %}
