{% extends 'barbershop/global/base.html' %}

{% load static %}

{% block title %}Agendamento | {% endblock title %}

{% block content %}
<!--  <div class="container-fluid p-3 mb-2 text-white">-->
<div class="py-5">
 <div class="container px-4 py-5 border-bottom border-warning">
    <form action="{% url 'barbershop:consulta_agenda' %}" method="POST" name="form1">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-4">
                 <label for="data_agendamento" class="form-label text-white">Data</label>
                 <input type="date" id="data_agendamento" name="data_agendamento" class="form-control"
                        value="{{ data_selecionada }}"
                        min="2022-01-01"
                        max="2050-12-31"
                        aria-label="Data desejada" required>
             </div>
            <div class="col">
                <label for="nome_servico" class="form-label text-white">Serviço</label>
                <select  id="nome_servico" name="servico" class="form-select selectpicker" aria-label="Default select example" required
                        data-show-subtext="true"
                        data-live-search="true" >
                    <option selected hidden>- Selecione -</option>
                    {% for servico in servicos %}
                        <option value="{{ servico.id }}" data-subtext="Tempo aprox. {{ servico.tempo_estimado }}">
                            {{ servico.nome }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="submit" value="Consultar" class="btn btn-warning"/>
    </form>

 </div>
</div>
{% include 'barbershop/partials/footer.html' %}


<script>$("#datepicker").datepicker();</script>
{% endblock content %}
