{% extends 'barbershop/global/base.html' %}
{% load static %}
{% block title %}Confirmação | {% endblock title %}
{% block content %}

<div class="py-5">
    <div class="container px-4 pt-5 pb-3">
        <div>
            <div class="pb-2 text-white">
                {% if dados.horario_ja_confirmado %}
                    <h2 class="mb-3">Horário - <span class="text-success">Confirmado</span></h2>
                {% else %}
                    <h2 class="mb-3">Aprovação de horário</h2>
                {% endif %}
                <p><span class="text-warning">Solicitante:</span> <span class="text-capitalize">{{ dados.nome_cliente }}</span></p>
                <p><span class="text-warning">Serviço:</span> {{ dados.nome_servico }}</p>
                <p><span class="text-warning">Data:</span> {{ dados.data_hora_inicio|date:"d M Y" }} <span class="text-warning">às</span> {{ dados.data_hora_inicio|time:"H\hi" }}</p>
                <p><span class="text-warning">Previsão término:</span> {{ dados.data_hora_fim|time:"H\hi" }}</p>
                <p><span class="text-warning">Telefone:</span> {{ dados.telefone_celular }}</p>
                <p><span class="text-warning">Observação do cliente:</span> {{ dados.observacao_cliente }}</p>
                {% if dados.horario_ja_confirmado %}
                    <a href="{% url 'barbershop:home' %}" class="btn btn-warning">Página inicial</a>
                {% else %}
                    <form action="{% url 'barbershop:confirmacao_final_agenda' %}" method="POST" name="form1">
                        {% csrf_token %}
                        <input type="text" id="codigo_uuid" name="codigo_uuid" required  value="{{ dados.codigo_uuid }}" hidden >
                        <input type="submit" value="Aprovar" class="btn btn-warning"/>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container px-4 py-3 border-bottom border-warning">
        <div>
            <div class="pb-2 text-white">
                <div class="table-responsive">
                    <table class="table table-dark table-hover table-borderless caption-top text-white">
                        <caption>Agenda de <span class="text-warning">{{ dados.data_hora_inicio|date:"d M Y" }}</span></caption>
                        <thead class="table-secondary">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Hora início</th>
                            <th scope="col">Previsão Término</th>
                            <th scope="col">Serviço</th>
                            <th scope="col">Situação</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for horario in agenda_do_dia %}
                            <tr {% if horario.sendo_analisado  %}class="table-active border-bottom border-top border-warning"{% endif %}>
                                <td>{% if horario.sendo_analisado  %}#{% endif %}</td>
                                <td>{{ horario.data_hora_inicio|time:"H\hi" }}</td>
                                <td>{{ horario.data_hora_fim|time:"H\hi" }}</td>
                                <td>{{ horario.nome_servico }}</td>
                                <td>
                                {% if horario.sendo_analisado  %}
                                  <span>Analisando agora</span>
                                {% elif not horario.horario_ja_confirmado %}
                                  <span class="text-warning">Pendente</span>
                                {% else %}
                                   <span class="text-success">Aprovado</span>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'barbershop/partials/footer.html' %}
{% endblock content %}
