<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'barbershop/partials/head.html' %}
    <title>{% block title %}{% endblock title %}Yeshua Barber Shop</title>
</head>
<body class="bg-dark">
    {% include 'barbershop/partials/header.html' %}

    <main>
        {% block content %}{% endblock content %}
    </main>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <script src="jquery/jquery.js"></script>
    <script src="jquery/jquery-ui.js"></script>
</body>
</html>